<tr>
  <td> <img src="<%= i.product.image.tiny %>"> </td>
  <td>
    <h4><%= i.product.name %></h4>
    <br>
  <p> <%= i.product.description %> </p>
  </td>
  <td> $<%= i.product.price  %> </td>
  <td> <%= i.quantity %> </td>
  <td> $<%= i.total_price_cents %> </td>
</tr>